= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %ul
        - @article.errors.full_messages.each do |err|
          %li= e

  %dl
    %dt= f.label :title
    %dd= f.text_field :title

  %dl
    %dt= f.label :body
    %dd= f.text_area :body

  %dl
    %dt= f.label :publish
    %dd= f.check_box :publish, { checked: (true if @article.published_at) }

  .actions
    %nav= f.submit 'Save'
