!!!
%html
  %head
    %title Tbablog
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #header
      %h1 Tbablog

    #global_nav
      %nav
        %ul.nav_list
          %li
            = link_to_unless_current 'About', '#' do
              %span= 'About'
          %li
            = link_to_unless controller.is_a?(ArticlesController), 'Weblog', '#' do
              %span= 'Weblog'
          %li= link_to 'Twitter', 'https://twitter.com/BabaTatsuro'
          %li= link_to 'Facebook', 'https://facebook.com/tatsuro.baba'
          %li= link_to 'Github', 'https://github.com/tbaba'

    = yield

    #footer
      %p= raw "&copy;tbaba"
