!!!
%html
  %head
    %title Tbablog
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #header
      %h1 Tbablog

    #global_nav
      %nav
        %ul.nav_list
          %li= link_to 'About', '#'
          %li= link_to 'Weblog', '#'
          %li= link_to 'Twitter', '#'
          %li= link_to 'Facebook', '#'
          %li= link_to 'Github', '#'

    = yield

    #footer
      %p= raw "&copy;tbaba"
